.catalog {
  padding: 28px 0 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 0 71px;
  }
}

.catalog__title {
  margin: 0 0 41px;

  @media (min-width: $tablet-width) {
    margin: 0 0 84px;
  }
}
