.contacts {
  position: relative;
}

.contacts__container {
  @media (min-width: $desktop-width) {
    padding: 95px 110px 106px;
  }
}

.contacts--colored {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.contacts__map-frame {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    inset: 0;
    height: 100%;
  }
}
