.developers__name {
  color: #444444;
}

.developers__logo {
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#logo-html-academy");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
  min-height: 34px;
}

.developers:hover .developers__logo {
  background-color: $color-brand;
}

.developers:active {
  opacity: 0.3;
}
