.main-navigation {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.main-navigation__toggle {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../icons/stack.svg#burger");
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
