.main-navigation {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 6px 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 2px 0 50px;
  }
}

.main-navigation__toggle {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../icons/stack.svg#burger");
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
