.navigation-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
  }
}

.navigation-list__item {
  @include font-family("Oswald");
  position: relative;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.navigation-list__link {
  color: #111111;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.navigation-list--inner .navigation-list__link {
  color: #000000;
}

.navigation-list__link--current {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -11px;
      left: 0;
      display: block;
      height: 2px;
      background-color: $color-brand;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -11px;
      left: 0;
      display: block;
      height: 2px;
      background-color: #ffffff;
    }
  }
}

.navigation-list--inner .navigation-list__link--current {
  &::after {
    background-color: $color-brand;
  }
}

.navigation-list__link:hover {
  opacity: 0.6;
}

.navigation-list__link:active {
  opacity: 0.3;
}

.navigation-list__link--current:hover,
.navigation-list__link--current:active {
  opacity: 1;
}

.main-navigation--opened .navigation-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  padding: 2px 0 0;
  background-color: #ffffff;
}

.main-navigation--opened .navigation-list__item {
  padding: 22px 24px 24px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
  }
}

.main-navigation--opened .navigation-list__item:first-child {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
  }
}

.nojs .navigation-list {
  position: static;
  display: block;
  width: 100%;
  background-color: #ffffff;
}

.nojs .navigation-list__item {
  padding: 22px 24px 24px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
  }
}

.nojs .navigation-list__item:first-child {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
  }
}

.main-navigation--opened .navigation-list--inner {
  padding: 0;
}
