.product {
  display: grid;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.product__image-link {
  grid-row: 1 / 3;
}

.product__button {
  grid-column: 1 / 3;
}

.product--show-more {
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title {
  @include font-family("Oswald");
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.product__text-additional {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
