.program-card {
  position: relative;
  padding: 30px 20px 18px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color-brand;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 92px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      right: auto;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 77px 316px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    padding: 77px 52px 59px;
  }
}

.program-card--icon-slim {
  &::after {
    top: 20px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#program-slim");

    @media (min-width: $tablet-width) {
      top: 81px;
      right: 93px;
      left: auto;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      right: auto;
      left: 67px;
      width: 70px;
      height: 97px;
    }
  }
}

.program-card--icon-fit {
  &::after {
    top: 35px;
    left: 12px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#program-fit");

    @media (min-width: $tablet-width) {
      top: 135px;
      right: 30px;
      left: auto;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      top: 67px;
      right: auto;
      left: 33px;
      width: 134px;
      height: 56px;
    }
  }
}

.program-card__title {
  @include font-family("Oswald");
  max-width: calc(100% - 20px);
  margin: 0;
  padding-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 53px);
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 402px;
    padding-left: 162px;
  }
}

.program-card__description {
  margin: 0;
  margin-bottom: 15px;
  padding: 29px 0 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 24px 0 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 30px;
  }
}

.program-card__link {
  @include font-family("Oswald");
  display: flex;
  align-items: center;
  min-height: 24px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    margin-left: 15px;
    background-color: #000000;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-repeat: no-repeat;
    mask-size: 24px 12px;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  &:hover::after {
    mask-image: url("../../icons/stack.svg#arrow-long");
    mask-size: 32px 12px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
