.specials {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 290px;
  background-color: rgba(104, 183, 56, 0.85);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 280px;
    height: 290px;
    background-image: url("../../images/catalog/specials/specials-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.85;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/catalog/specials/specials-background-mobile@2x.jpg");
    }
  }

  &::after {
    content: "";
    display: block;
    order: -1;
    width: 78px;
    height: 80px;
    margin-top: 58px;
    background-image: url("../../icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-size: 78px 80px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding: 0;

    &::before {
      width: 100%;
      height: 200px;
      background-image: url("../../images/catalog/specials/specials-background-tablet@1x.jpg");
      background-size: cover;
    }

    &::after {
      margin-top: -9px;
      margin-left: 79px;
    }
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    &::before {
      background-image: url(" ../../images/catalog/specials/specials-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-end;
    width: 245px;
    height: 288px;

    &::before {
      width: 245px;
      height: 288px;
      background-image: url("../../images/catalog/specials/specials-background-desktop@1x.jpg");
    }

    &::after {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    &::before {
      background-image: url(" ../../images/catalog/specials/specials-background-desktop@2x.jpg");
    }
  }
}

.specials__text {
  max-width: 278px;
  margin: 0;
  padding: 24px 58px 43px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-right: 66px;
    padding: 24px 58px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding: 48px 42px 43px;
    text-align: center;
  }
}
