.statistics__item-value {
  @include font-family("Oswald");
  font-size: 24px;
  line-height: 24px;
}

.statistics__item-description {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.statistics__cost {
  @include font-family("Oswald");
  font-size: 14px;
  line-height: 20px;
}
